body {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom right, #3498db, #2c3e50);
    color: #fff;
}

h1 {
    font-family: 'Pacifico', cursive; /* Font for heading */
    color: #ffffff; 
    margin-top: 20px;
    font-weight: bold; /* Makes the heading bold */
}

section {
    margin: 20px;
}

/* Center the buttons horizontally and provides space between them */
#createStoryButtons {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Center the buttons vertically */
    flex-wrap: wrap;
}

/* CSS being applied to the buttons */
button {
    padding: 15px;
    margin: 10px;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    font-size: 18px; /* Increases the font size for buttons */
    font-weight: bold;
    width: 90px; /* Increases the button width */
    height: 90px; /* Increases the button height */
    transition: background-color 0.3s ease, filter 0.3s ease, transform 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    background: #3498db;
    color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Bringing colors to each button */
#noun1 {
    background-color: #e74c3c;
}

#verb {
    background-color: #f39c12;
}

#adjective {
    background-color: #f1c40f;
}

#noun2 {
    background-color: #2ecc71;
}

#setting {
    background-color: #3498db;
}

#playback,
#randomStory,
#addStudentId {
    background-color: #9b59b6;
}

/* Hover effect for buttons */
button:hover {
    background-color: #2c3e50;
    filter: brightness(1.2);
    transform: scale(1.1);
}

/* Style when button clicked */
button:active {
    background-color: #1a252f;
    box-shadow: none;
    transform: scale(1);
}

#story {
    margin-top: 20px;
    font-size: 50px; /* Increases font size for the words in the story */
    font-family: 'Lora', serif; /* Font family */
    font-weight: bold;
}

/* Provides a gradient border when the button is clicked */
button:active {
    border: 3px solid transparent;
    background-clip: padding-box;
    border-image: linear-gradient(to bottom right, #3498db, #2c3e50) 1 100%;
    border-image-slice: 1;
}
